
.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 15px 20px;
}

.control-btn {
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.control-btn:hover {
  background-color: rgba(0, 0, 0, 0.04);
}